@import "reset.css";

body {
    color: #555;
    font-size: 14px;
}

.carousel-inner {
    width: 100%;
    height: 400px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
/*第一部分*/
.centre {
    width: 1200px;
    margin: 0 auto;
}

.announcement {
    margin-top: 30px;
    border-bottom: 1px solid #ECECEC;
}

.announcement > div {
    float: left;
    width: 33.2%;
    padding: 20px 0 36px 20px;
}

.announcement > div .border {
    border-right: 1px solid #ECECEC;
}

.announcement > div .border p {
    font-size: 18px;
    color: #3B3B3B;
}

.announcement_right {
    float: right;
    margin-left: 0;
    width: 76%;
    padding-right: 15px;
}

.announcement_right span {
    display: inline-block;
    line-height: 30px;
    font-size: 14px;
}

.announcement_right span a {
    color: #585858;
    text-decoration: none;
}
/*文字滚动*/
.scrollbox {
    width: 340px;
    margin: 0 auto;
    overflow: hidden;
}

#scrollDiv {
    width: 340px;
    height: 65px;
    overflow: hidden;
}
/*这里的高度和超出隐藏是必须的*/
#scrollDiv li {
    width: 300px;
    overflow: hidden;
    vertical-align: bottom;
    zoom: 1;
}

#scrollDiv li h3 {
    font-size: 14px;
    color: #353535;
    width: 300px;
    margin: 0;
    line-height: 30px;
}

#scrollDiv li h3 a {
    color: #585858;
    text-decoration: none;
}

#scrollDiv li h3 a:hover {
    color: #F00;
}

.scroltit {
    height: 26px;
    line-height: 26px;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.scroltit h3 {
    width: 100px;
    float: left;
}

.scroltit .updown {
    float: right;
    width: 32px;
    height: 22px;
    margin-left: 4px;
}

#but_up {
    background: url("images/up.gif") no-repeat 0 0;
    text-indent: -9999px;
}

#but_down {
    background: url("images/down.gif") no-repeat 0 0;
    text-indent: -9999px;
}
/*第二部分*/
.welcome > div {
    float: left;
}

.welcome_left {
    padding: 50px 0;
    text-align: left;
}

.welcome_left p {
    width: 490px;
    line-height: 30px;
    color: #585858;
}

.welcome_left h1 {
    padding: 20px 0;
    font-size: 40px;
    color: #585858;
}
/*第三部分    转账付款*/
.payment {
    background-color: #fff;
}

.payment .payment_bottom {
    width: 100%;
    background-color: #F7F7F7;
}

.payment .payment_bottom .payment_box {
    width: 83%;
    float: right;
}

.payment .payment_left {
    width: 32%;
    padding: 114px 0;
    text-align: left;
}

.payment .payment_left h1 {
    padding: 0 0 50px;
    font-size: 50px;
    color: #585858;
    padding-bottom: 50px;
}

.payment .payment_left p {
    padding-bottom: 50px;
    display: block;
    width: 410px;
    line-height: 30px;
    font-size: 14px;
    color: #585858;
}

.payment .payment_left .view {
    width: 189px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    background-color: #19A8E8;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.payment .payment_box > div {
    float: left;
}

.payment_right {
    height: 550px;
    width: 68%;
    float: right;
}

.payment_right img {
    width: 100%;
    height: 100%;
}

.payment .payment_top {
    width: 100%;
    border-bottom: 1px solid #ECECEC;
}

.payment .payment_top .centre {
    width: 880px;
    margin: 0 auto;
}

.payment .payment_top .centre > div {
    float: left;
    width: 175px;
    height: 227px;
    text-align: center;
}

.payment .payment_top .centre > div img {
    padding: 16px 0;
}

.payment .center_box {
    height: 140px;
    width: 175px;
    margin-top: 50px;
    border-right: 1px solid #ECECEC;
    margin-left: 0;
}

.payment .centre {
    text-align: center;
}

.payment_top_top h1 {
    font-size: 50px;
    color: #585858;
    padding: 50px 0 20px;
}

.payment_top_top p {
    width: 660px;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    line-height: 30px;
    color: #585858;
}

.active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color= '#888888');
    box-shadow: 2px 6px 20px #888888;
}
/*第四部分*/
.lift {
    margin-top: 80px;
}

.lift a img {
    width: 100%;
}

.lift .lift_top {
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
}

.lift .lift_top .centre {
    width: 1100px;
    margin: 0 auto;
}

.lift .lift_top .centre > div {
    float: left;
    width: 157px;
    height: 227px;
    text-align: center;
}

.lift .lift_top .centre > div img {
    padding: 16px 0;
}

.lift .center_box {
    height: 140px;
    width: 157px;
    margin-top: 45px;
    border-right: 1px solid #ECECEC;
    margin-left: 0;
}

.center_box p {
    font-size: 16px;
    color: #7A7979;
}

.beautify {
    cursor: pointer;
}
/*第五部分*/
.cooperation {
    padding: 80px 0;
}

.cooperation p {
    padding: 10px 0;
}

.cooperation ul {
    margin-bottom: 0;
}

.cooperation ul li {
    float: left;
    width: 190px;
    height: 70px;
}

.cooperation ul li img {
    width: 100%;
    height: 100%;
}

.cooperation ul li {
    padding: 5px;
}

.cooperation .centre > div {
    width: 33.3%;
    float: left;
}

.cooperation .centre .centre_time p em {
    padding: 5px 20px 5px 0;
    display: inline-block;
    font-size: 14px;
    color: #4A4A4A;
}

.cooperation .centre > div .city {
    display: block;
    width: 280px;
    padding-top: 0;
}

.cooperation .centre > div p {
    padding: 5px 0;
}

.cooperation .centre p {
    font-size: 18px;
    color: #585858;
}

.cooperation .centre .centre_time p {
    font-size: 14px;
    color: #333;
}

.cooperation em {
    font-weight: normal;
}
/*个人登录页*/
.login {
    width: 100%;
    background-color: #F7F7F7;
}

.login_box {
    padding: 30px 0 130px;
}

.login_box > div {
    float: left;
}

.login_box .login_left {
    width: 69%;
}

.login_box .login_left img {
    width: 100%;
    height: 100%;
}

.login_box .login_right {
    width: 30%;
    border: 1px solid #e4e4e4;
    text-align: center;
}

.login_box .login_right h1 {
    padding: 15px 0;
    border-bottom: 1px solid #e4e4e4;
    text-align: left;
    padding-left: 40px;
    font-size: 20px;
    color: #333;
}

.login_box .login_right ul li {
    padding: 30px 0 8px;
}

.login_box .login_right ul li~li {
    padding: 8px 0;
}

.login_box .login_right ul li input {
    width: 290px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #e4e4e4;
    text-indent: 1.5em;
    border-radius: 5px;
    letter-spacing: 1px;
}

.login_box .login_right ul li em {
    width: 25%;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    background-color: pink;
    float: right;
    margin-right: 36px;
}

.login_box .login_right ul li button {
    width: 290px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #009FE8;
    border-radius: 4px;
    color: #fff;
    background-color: #fff;
}

.login_box .login_right .login_text {
    padding: 20px 0;
}

.login_box .login_right .login_text .login_one {
    float: left;
    margin-left: 40px;
}

.login_box .login_right .login_text .login_one input {
    vertical-align: middle;
    padding-right: 5px;
    margin-top: 2px;
    width: 15px;
    height: 15px;
}

.login_box .login_right .login_text .login_one em {
    vertical-align: middle;
    margin-left: 5px;
}

.login_box .login_right .login_text .login_two {
    margin-left: 40px;
}

.login_box .login_right .login_text .login_three {
    float: right;
    margin-right: 40px;
}

.login_box .login_right .login_text a {
    color: #009FE8;
}
/*个人注册页*/
/*进度条*/
.bar_article ul {
    float: left;
    width: 65%;
    padding: 50px 190px 20px;
}

.bar_article ul li {
    float: left;
    width: 33%;
    text-align: right;
    padding-top: 10px;
}

.bar_article ul li p {
    margin: 10px;
    color: #333;
    text-align: center;
}

.bar_article .zhong > div {
    display: block;
    float: left;
}

.bar_article .zhong {
    width: 300px;
    height: 45px;
    position: relative;
}

.bar_article .yuan {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #D5D5D5;
    margin: 5px 0;
    z-index: 2222;
    position: absolute;
    left: 40%;
}

.bar_article .yuan em {
    float: left;
    margin-left: 11px;
    margin-top: 5px;
    color: white;
}

.bar_article .tiao {
    width: 43%;
    height: 11px;
    background-color: #dcdcdc;
    margin-top: 14px;
}

.bar_article .zhong .one {
    background-color: #019FE8;
}
/*注册*/
.registered {
    width: 1000px;
    border: 1px solid #e4e4e4;
    margin: 0 auto;
}

.registered h1 {
    display: block;
    height: 50px;
    line-height: 50px;
    text-indent: 2em;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #e4e4e4;
}

.registered .registered_box {
    text-align: center;
    padding: 50px 0;
}

.registered .registered_box ul li input {
    margin: 20px 0;
    width: 330px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #e4e4e4;
    text-indent: 1.5em;
    border-radius: 5px;
    letter-spacing: 1px;
}

.registered .registered_box ul li.code input {
    width: 15%;
}

.registered .registered_box ul li.code span {
    width: 10%;
    display: inline-block;
    height: 50px;
    background-color: pink;
    float: rigth;
    margin-left: 20px;
    vertical-align: middle;
}

.registered .registered_box ul li.login_text input {
    vertical-align: middle;
    padding-right: 5px;
    width: 15px;
    height: 15px;
    margin-top: 17px;
}
/*.registered .registered_box ul li.login_text em{vertical-align:middle}*/
.registered .registered_box ul li.login_text {
    margin-left: -70px;
}

.registered .registered_box ul li button {
    width: 290px;
    height: 45px;
    line-height: 45px;
    border-radius: 4px;
    color: #fff;
    background-color: #009FE8;
    border: none;
    margin-top: 50px;
}
